<div class="row trangchitietkhoahoc">
    <div class="col-sm-7">
        <div class="">
            <h1 class="title">{{course.name}}</h1>
            <p class="short-description">{{course.description}}</p>
        </div>

        <div class="loiichkhoahoc">
            <h1 class="title">Bạn sẽ học được gì?</h1>
            <ul>
                {{#each course.benefits}}
                    <li>
                        <img src="/img/check-mark.png" alt="">
                        <span>{{this}}</span>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="noidungkhoahoc">
            <h1 class="title">Nội dung khoá học</h1>
            <span>{{course.totalChapters}} chương {{course.totalLessons}} bài học Thời lượng {{formatDuration course.duration}}</span>
            {{#each chapters}}
            <div class="dropdown-center">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/img/plus.png" alt="">
                    <h2>{{this.chapterOrder}}. {{this.title}} </h2>
                    <span>{{this.lessons.length}} bài học</span>
                </button>
                <ul class="dropdown-menu">
                    {{#each lessons}}
                    <li class="dropdown-item">{{lessonOrder}}. {{name}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
            {{!-- <div class="dropdown-center">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/img/plus.png" alt="">
                    <h2>1. Khái niệm kỹ thuật cần biết </h2>
                    <span>3 bài học</span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                </ul>
            </div>
            <div class="dropdown-center">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/img/plus.png" alt="">
                    <h2>1. Khái niệm kỹ thuật cần biết </h2>
                    <span>3 bài học</span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                </ul>
            </div>
            <div class="dropdown-center">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/img/plus.png" alt="">
                    <h2>1. Khái niệm kỹ thuật cần biết </h2>
                    <span>3 bài học</span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                    <li class="dropdown-item">1. Mô hình Client - Server là gì?</li>
                </ul>
            </div> --}}

        </div>
    </div>
    <div class="col-sm-5 thongtinkhoahoc">
        <img src="/img/course-pro.png" alt="">
        {{#if (isPriceZero course.newPrice)}}
            <h1 class="price">miễn phí</h1>
        {{else}}
            <h1 class="price">{{course.newPrice}}.000 đ</h1>
        {{/if}}
        <button class="btn">Đăng ký học</button>
        <ul>
            <li>
                <img src="/img/level-up.png" alt="">
                <span>Trình độ {{course.level}}</span>
            </li>
            <li>
                <img src="/img/curriculum.png" alt="">
                <span>Tổng cộng có {{course.totalLessons}} bài học</span>
            </li>
            <li>
                <img src="/img/clock.png" alt="">
                <span>Thời lượng 2 giờ 30 phút</span>
            </li>
            <li>
                <img src="/img/continous-improvement.png" alt="">
                <span>Học mọi lúc, mọi nơi</span>
            </li>
        </ul>
    </div>
</div>