<div class="row trangchitietkhoahoc">
    <div class="col-sm-7">
        <div class="">
            <h1 class="title">{{course.name}}</h1>
            <p class="short-description">{{course.description}}</p>
        </div>

        <div class="loiichkhoahoc">
            <h1 class="title">Bạn sẽ học được gì?</h1>
            <ul>
                {{#each course.benefits}}
                    <li>
                        <img src="/img/check-mark.png" alt="">
                        <span>{{this}}</span>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="noidungkhoahoc">
            <h1 class="title">Nội dung khoá học</h1>
            <span>{{course.totalChapters}} chương {{course.totalLessons}} bài học Thời lượng {{formatDuration course.duration}}</span>
            {{#each chapters}}
            <div class="dropdown-center">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/img/plus.png" alt="">
                    <h2>{{this.chapterOrder}}. {{this.title}} </h2>
                    <span>{{this.lessons.length}} bài học</span>
                </button>
                <ul class="dropdown-menu">
                    {{#each lessons}}
                    {{#if @first}} <!-- Kiểm tra nếu đây là bài học đầu tiên -->
                    <input type="hidden" id="lessonId" value="{{_id}}">
                    {{/if}}
                    <li class="dropdown-item">{{lessonOrder}}. {{name}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="col-sm-5 thongtinkhoahoc">
        <img src="{{course.image}}" alt="">
        {{#if (isPriceZero course.newPrice)}}
            <h1 class="price">miễn phí</h1>
        {{else}}
            <h1 class="price">{{course.newPrice}}.000 đ</h1>
        {{/if}}
        <button class="btn" id="learn-now-button" data-course-id="{{course._id}}">Đăng ký học</button>
        <ul>
            <li>
                <img src="/img/level-up.png" alt="">
                <span>Trình độ {{course.level}}</span>
            </li>
            <li>
                <img src="/img/curriculum.png" alt="">
                <span>Tổng cộng có {{course.totalLessons}} bài học</span>
            </li>
            <li>
                <img src="/img/clock.png" alt="">
                <span>Thời lượng {{formatDuration course.duration}}</span>
            </li>
            <li>
                <img src="/img/continous-improvement.png" alt="">
                <span>Học mọi lúc, mọi nơi</span>
            </li>
        </ul>
    </div>
</div>

<script>
    const isLoggedInUser = {{#if isLoggedInUser}}true{{else}}false{{/if}};

     /**
     * Hàm xử lý nút "Học Ngay"
     * @param {Event} event - Sự kiện click
     * @param {string} courseId - ID của khóa học
     */
    function handleLearnNow(event, courseId, lessonId) {
        event.preventDefault(); // Ngăn hành động mặc định của nút (nếu có)

        if (!isLoggedInUser) {
            // Nếu người dùng chưa đăng nhập, hiển thị SweetAlert và chuyển hướng đến trang đăng nhập
            const currentUrl = window.location.href;
            Swal.fire({
                title: 'Bạn chưa đăng nhập!',
                text: 'Bạn cần đăng nhập để đăng ký khóa học.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đăng nhập',
                cancelButtonText: 'Hủy bỏ'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Chuyển hướng đến trang đăng nhập với tham số redirect
                    window.location.href = `/User/Login/`;
                }
            });
        } else {
            const url = `/Course/Learning/${courseId}/${lessonId}`;
            // Nếu người dùng đã đăng nhập, chuyển hướng đến trang học khóa học
            window.location.href = url;
        }
    }

    // Gán sự kiện click cho tất cả các nút "Học Ngay" sau khi DOM đã tải xong
    document.addEventListener('DOMContentLoaded', () => {
        const learnNowButtons = document.getElementById('#learn-now-button');

        learnNowButtons.forEach(button => {
            const courseId = learnNowButtons.getAttribute('data-course-id');
            const lessonId = document.getElementById('lessonId').value;
            button.addEventListener('click', (e) => handleLearnNow(e, courseId, lessonId));
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
         const NotFound = {{NotFound}};
        if (NotFound) {
            Swal.fire({
                title: 'Khoá học không tồn tại!',
                icon: 'warning',
                confirmButtonText: 'OK'
            })
            fetch('/user/course/clear-registrantion-error-flag', { method: 'POST' });
        }
    });
</script>