<div class="col-sm-8 ">
    <div class="video">
        <iframe id="player" width="100%" height="450" src="{{lessonData.videoUrl}}?enablejsapi=1" title="YouTube video player" frameborder="0" allow="autoplay" allowfullscreen></iframe>
    </div>
    <input type="hidden" value="{{IdLesson}}" id="IdLesson">
    <input type="hidden" value="{{Idregistration}}" id="Idregistration">
    <div class="row content-course d-block">
        <div class="col-sm d-flex">
            <div>
                <h1 class="title-course">{{lessonData.name}}</h1>
                <span class="thoigiandang">
                    Cập nhật {{ lessonData.updatedAt}} <br></br>
                    {{lessonData.description}}
                </span>
            </div>
            <a href="#" id="add-note-btn" onclick="DangPhatTrien()">
                <img class="icon-headerLearning" src="/img/post-it.png" alt="">
                <span>Thêm ghi chú</span>
            </a>
        </div>
        <div class="col-sm">
            <div class="comments">
                <div class="d-flex">
                    <span class="sobinhluan">1</span>
                    <h1>Comments</h1>
                </div>
                <form onsubmit="return DangPhatTrien()">
                    <img class="avt-user" src="{{dataUser.avatar}}" alt="">
                    <button type="button" onclick="DangPhatTrien()" id="comment-btn"><img class="icon-comment" src="/img/send.png" alt=""></button>
                    <input type="text" name="" id="" placeholder="Viết nhận xét của bạn">
                </form>
                <ul>
                    <li class="d-flex">
                        <img class="avt-user" src="/img/user-LHT.jpg" alt="/img/user-LHT.jpg">
                        <div class="list-comments">
                            <div class="info-user">
                                <span class="name-user">Lâm Huệ Trung</span>
                                <span class="times-comment">2 years ago</span>
                            </div>
                            <p class="content-comments">
                                Chỉ là hình thức thoy huheo, biết code có được như dậy hông 
                                Chỉ là hình thức thoy huheo, biết code có được như dậy hông 
                                Chỉ là hình thức thoy huheo, biết code có được như dậy hông 
                                Chỉ là hình thức thoy huheo, biết code có được như dậy hông 
                                Chỉ là hình thức thoy huheo, biết code có được như dậy hông 
                                </p>
                            <div class="row tuongtac-comment">
                                <div class="col-sm-1">
                                    <a href="">
                                        <img class="icon" src="/img/facebook-reactions.png" alt="">
                                    </a>
                                    <span class="number-tuongtac">1000</span>
                                </div>
                                <div class="col-sm-1">
                                    <a href="">
                                        <img class="icon" src="/img/heart.png" alt="">
                                    </a>
                                    <span class="number-tuongtac">2000</span>
                                </div>
                                <div class="col-sm-1">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle reaplay" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Trả lời
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <form action="">
                                                    <button><img class="icon-reaplay" src="/img/send.png" alt=""></button>
                                                    <input type="text" name="" id="">
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<img id="icon-menu-mobile"  src="/img/next.png" alt="" onclick="menuChange('menu-lesson')">
<div id="menu-lesson" class="col-sm-4">
    <ul class="list-group menu-courses">
        <li class="list-group-item title">Nội dung khoá học <img class="icon-menu" src="/img/back.png" alt="" onclick="menuChange('menu-lesson')"></li>
        {{#each chaptersData}}
        <li onclick="change('content-course-{{this.chapterOrder}}', 'icon-chevron-{{this.chapterOrder}}')" class="list-group-item">
            <div id="course-{{this.chapterOrder}}" class="d-flex over-course">
                <div class="">
                <h1><span>{{this.chapterOrder}}. </span>{{this.title}}  {{#if this.progress}} {{this.progress}} {{else}} 0 {{/if}}%</h1>
                <div class="">
                    <span>{{#if this.completedLessonsInChapter}} {{this.completedLessonsInChapter}} {{else}} 0 {{/if}}/{{this.lessons.length}} | {{totalDuration}}</span>
                </div>
            </div>
            <a><img id="icon-chevron-{{this.chapterOrder}}" src="/img/down-chevron.png" alt=""></a>
            </div>
            <ul id="content-course-{{this.chapterOrder}}">
                {{#each lessons}}
                    <li>
                        {{#if (isCompleted status)}}
                        <!-- Nếu bài học đã hoàn thành, hiển thị icon done -->
                        <a style="color: white !important;" href="/Course/Learning/{{../courseId}}/{{_id}}">
                            <h1><span>{{../chapterOrder}}.{{lessonOrder}} </span> {{name}} <img style="width: 20px;" class="icon" src="/img/done.png" alt="Completed"></h1>
                            <input type="hidden" id="courseNext" value="{{../courseId}}">
                            
                            <div class="">
                                <span><img class="icon" src="/img/play.png" alt="">{{duration}}</span>
                            </div>
                        </a>
                        {{else}}
                            {{#if (isInProcess status)}}
                            <!-- Nếu bài học đang học thì hiển thị-->
                            <a style="color: white !important;" href="/Course/Learning/{{../courseId}}/{{_id}}">
                                <h1><span>{{../chapterOrder}}.{{lessonOrder}} </span> {{name}}</h1>
                                <input type="hidden" id="lessonNext" value="{{lessonId}}">
                                <input type="hidden" id="courseNext" value="{{../courseId}}">
                                <div class="">
                                    <span><img class="icon" src="/img/play.png" alt="">{{duration}}</span>
                                </div>
                            </a>
                            {{else}}
                        <!-- Nếu bài học chưa hoàn thành, khóa không cho phép click -->
                        <a href="#" style="color: gray !important; pointer-events: none;">
                            <h1><span>{{../chapterOrder}}.{{lessonOrder}} </span> {{name}}</h1>
                            <input type="hidden" id="courseNext" value="{{../courseId}}">
                            
                            <div class="">
                                <span><img class="icon" src="/img/play.png" alt="">{{duration}}</span>
                            </div>
                        </a>
                            {{/if}}
                        {{/if}}
                    </li>
                {{/each}}

            </ul>
        </li>
        {{/each}}
    </ul>
</div>

<script>
    var player;
    var totalDuration = 0;  // Tổng thời gian của video
    var watchedDuration = 0; // Thời gian đã xem
    const IdLesson = document.getElementById('IdLesson').value;
    const Idregistration = document.getElementById('Idregistration').value;

    // Load API
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    
    // Hàm được YouTube API gọi khi sẵn sàng
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
        }
        });
    }

    function onPlayerReady(event) {
        totalDuration = player.getDuration();  // Lấy tổng thời gian của video
    }

    // Khi trạng thái video thay đổi
    function onPlayerStateChange(event) {
        console.log(event.data);
        if (event.data == YT.PlayerState.PLAYING) {
        // Video đang phát, bắt đầu theo dõi thời gian
        fetch(`/Course/updateLessonStatus/${IdLesson}/${Idregistration}`, { method: 'POST'});
        watchVideo();
        }
    }

    // Hàm theo dõi tiến độ xem video
    function watchVideo() {
        var interval = setInterval(function() {
        watchedDuration = player.getCurrentTime(); // Lấy thời gian đã xem

        // Kiểm tra nếu đã xem đủ 90% video
        if (watchedDuration >= totalDuration * 0.9) {
            console.log('Đã xem đủ 10% video');
            markLessonAsCompleted();  // Đánh dấu bài học hoàn thành
            clearInterval(interval);  // Dừng theo dõi
        }
        }, 1000); // Kiểm tra mỗi giây
    }
    // Đánh dấu bài học hoàn thành
    function markLessonAsCompleted() {

        fetch(`/Course/updateLessonStatus/${IdLesson}/${Idregistration}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'  // Đảm bảo Content-Type là application/json
            },
            body: JSON.stringify({
                completed: true  // Truyền field completed vào req.body
            })
        })
        .then(response => response.json())  // Xử lý response (nếu có)
        .then(data => {
            const LessonIdNext = data.IdLessonNext;
            const CourseIdNext = document.getElementById('courseNext').value;

            window.location.href = `/Course/Learning/${CourseIdNext}/${LessonIdNext}`;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

<script>
    function change(id, imgId) {
        const content = document.getElementById(id);
        const icon = document.getElementById(imgId);
        
        if (content.style.display === "block") {
            content.style.display = "none";
            icon.src = "/img/down-chevron.png";
        } else {
            content.style.display = "block";
            icon.src = "/img/up-chevron.png";
        }
    }

    function menuChange(menuId) {
        const menu = document.getElementById(menuId);
        const buttonMoblie = document.getElementById('icon-menu-mobile')

        // Kiểm tra trạng thái hiển thị của menu
        if (menu.style.display === "none") {
            // Mở rộng menu và đổi src của icon-menu thành mũi tên trái
            menu.style.display = "block"; 
            buttonMoblie.style.display = "none";
        } else {
            // Thu gọn menu và đổi src của icon-menu thành mũi tên phải
            menu.style.display = "none";
            buttonMoblie.style.display = "block";
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
         const isCreate = {{isCreate}};
        if (isCreate) {
            Swal.fire({
                title: 'Đăng ký thành công!',
                icon: 'success',
                confirmButtonText: 'OK'
            })
            fetch('/Course/clear-registrantion-flag', { method: 'POST' });
        }
    });
    
</script>

<script>
    function DangPhatTrien() {
        Swal.fire({
            title: 'Tính năng đang phát triển!',
            text: 'Huệ Trung sẽ sớm cập nhật tính năng này.',
            icon: 'info',
            confirmButtonText: 'Đóng'
        });
        return false; // Ngăn form submit hoặc hành động mặc định
    }
</script>