<div class="container-fluid d-flex">
    <div class="row dangnhap">
        <div class="col-sm text-center mobilde-dangnhap">
            <h1 class="text-title">ITHUB LEARNING</h1>
            <span class="text-description">Tạo ra một nền tảng học tập trực tuyến cho phép người dùng tham gia các khóa học,  theo dõi tiến trình học tập, và tương tác với nhau. Hệ thống sẽ cung cấp các công cụ  thống kê và phân tích dữ liệu, đồng thời tích hợp ChatGPT để hỗ trợ người dùng và quản trị viên  trong quá trình học tập.</span>
        </div>
        <div class="col-sm">
            <form class="form-dangnhap" action="/User/Register" method="POST">
                    <legend class="tendangnhap">Đăng Ký</legend>
                    <div class="mb-3 fisrt-input">
                        <input type="text" id="disabledTextInput" class="form-control input-dangnhap" name="fullName" id="fullName" placeholder="Họ tên" value="{{fullName}}">
                        {{#if errors.fullName}}
                            <div class="text-white">{{errors.fullName}}</div>
                        {{/if}}
                    </div>
                    <div class="mb-3">
                        <input type="text" id="disabledTextInput" class="form-control input-dangnhap" name="userName" id="userName" placeholder="Tên đăng nhập" value="{{userName}}">
                        {{#if errors.userName}}
                            <div class="text-white">{{errors.userName}}</div>
                        {{/if}}
                    </div>
                    <div class="mb-3">
                        <input type="password" id="disabledTextInput" class="form-control input-dangnhap" name="password" id="password" placeholder="Mật khẩu" value="{{password}}">
                        {{#if errors.password}}
                            <div class="text-white">{{errors.password}}</div>
                        {{/if}}
                    </div>
                    <div class="mb-3">
                        <input type="password" id="disabledTextInput" class="form-control input-dangnhap" name="passwordCon" id="passwordCon" placeholder="Nhập lại mật khẩu" value="{{passwordCon}}">
                        {{#if errors.passwordCon}}
                            <div class="text-white">{{errors.passwordCon}}</div>
                        {{/if}}
                    </div>
                    <button type="submit" class="btn btn-dangnhap">Đăng Ký</button>
                    <a class="href-formdangnhap" href="/User/Login">Bạn đã có tài khoản? Đăng nhập ngay</a>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
         const isCreate = {{isCreate}};
        if (isCreate) {
            Swal.fire({
                title: 'Đăng ký thành công!',
                icon: 'success',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/User/Login';
                }
            });
            fetch('/User/clear-create-flag', { method: 'POST' });
        }
    });
</script>